<div class="message">
	<div class="user">
		<img alt="<%= user.name %>" src="//www.gravatar.com/avatar/<%= hex_md5(user.email) %>" />
		<h5><%= user.name %></h5>
	</div>
	
	<p><%= text %> <strong><%= sent %></strong></p>
</div>